<div id="<%= dom_id input_field_option %>">
  <p>
    <strong>Name:</strong>
    <%= input_field_option.name %>
  </p>

  <p>
    <strong>Input field:</strong>
    <%= input_field_option.input_field_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= input_field_option.position %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= input_field_option.data %>
  </p>

</div>
